{% extends '@App/front/master/layout.html.twig' %}
{% set page_title = 'Show' %}

{% block body %}

    <h1>Ovo je frontend view skripta</h1>
    <p class="lead">Idemo dalje</p>
    <ul class="list-unstyled">
        <li></li>
        <li></li>
    </ul>

    
    
{% endblock %}
